﻿@model NHRC_DataCollection.Models.ProvinceModel

@{
    ViewData["Title"] = "Province";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Province</h1>

<h4>ProvinceModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <a class="btn btn-primary" asp-action="Create">Create</a>
        </div>
        @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
